doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
    body
        - var insert = editing ? 'edit-product' : 'add-product'
        - var title = editing && product.title;
        - var imageUrl = editing && product.imageUrl;
        - var price = editing && product.price;
        - var description = editing && product.description;
        header
            include ../snapshot/navigation.pug
        main
            form(action=`/admin/${insert}` method="POST")
           
                label(for='title') Title
                input(type="text" name="title" value=title)
                label(for='title') Image Url
                input(type="text" name="imageUrl" value=imageUrl)
                label(for='title') Price
                input(type="text" name="price" value=price)
                label(for='title') Descrition
                input(type="text" name="description" value=description)
                if editing
                    input(type="hidden" value=product._id name='productId')
                button(type="submit") 
                    if editing
                        div update product
                    else 
                        div add product