doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
    body 
        header
            nav
                ul
                    li
                        a(href="/") shop
                    li
                        a(href="/products") products
                    li
                        a(href="/cart") cart
                    li
                        a(href="/orders") orders
                    li
                        a(href="/admin/add-product") add-product
                    li
                        a(href="/admin/products") admin product
        main
            each product in prods
                div(style="display: inline-block; margin: 30px; display: flex; flex-direction: column; width: 150px; align-items: center")
                    h2 #{product.title}
                    p #{product.price}
                    img(src=product.imageUrl height=100)
                    p #{product.description}
                    a(href=`/admin/edit-product/${product._id}?edit=true`) edit
                    form(action="/admin/delete-product" method="POST")
                        input(type="hidden" value=product._id name="productId")
                        button(type="submit") delete