doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
    body 
        header
            include ../snapshot/navigation.pug
        main
            div(style="display: inline-block; margin: 30px auto; display: flex; flex-direction: column; width: 300px; align-items: center")
                    h1 Product Details
                    h2 #{product.title}
                    p #{product.price}
                    img(src=product.imageUrl height=100)
                    p #{product.description}
                    form(action='/cart' method="POST")
                        input(type='hidden' name="productId" value=product.id)
                        button(type='submit') add to cart